* {
    font-family: "Roboto", sans-serif;
}

img.normal {
  float: left;
  height: 300px;
  width: 300px;
  margin-right: 30px;
}
img.alta {
  float: left;
  height: 420px;
  width: 300px;
  margin-right: 30px;
}
h1 {
  border-bottom-style: inset;
}
pre {
  font-size: 1.2rem;
}
